.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 250px;
}

#tryIt {
  margin-top: 20%;
  margin-left: 20%;
  background-color: rgb(80, 50, 171);
  height: 34px;
  border-radius: 8px;
  box-shadow: 0px 5px 2px 0px rgb(139, 101, 177);
  font-weight: bolder;
  padding-left: 64px;
  width: 380px;
  padding-top: 16px;
}
#then {
  float: right;
  font-weight: 100;
  margin-right: 88px;
}

form {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(94, 97, 94);
  box-shadow: 0px, 5px, 2px, 0px rgb(185, 28, 28);
  display: inline-block;
  height: 310px;
  margin-left: 20%;
  width: 450px;
  background-color: rgb(233, 230, 224);
  border-radius: 8px;
  margin-top: 40px;
}

input {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  height: 30px;
  margin-top: 12px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: bold;
  width: 300px;
  margin-left: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(199, 187, 187);
}

input:first-child {
  margin-top: 32px;
}

input:required {
}

button {
  font-size: 10px;
  background-color: rgb(72, 197, 128);
  height: 36px;
  width: 326px;
  margin-left: 60px;
  margin-top: 12px;
  color: rgb(220, 218, 218);
  font-weight: 400;
  border-style: none;
  border-color: rgb(220, 218, 218);
  border-radius: 4px;
  border-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(84, 128, 84);
}

button:hover {
  font-size: 10px;
  height: 36px;
  width: 326px;
  margin-left: 40px;
  margin-top: 16px;
  background-color: rgb(80, 50, 171);
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(153, 156, 153);
}
.foot {
  width: 300px;
  margin-left: 170px;
  font-size: 10px;
  margin-top: -40px;
  color: rgb(103, 95, 95);
}
