.App {
  display: flex;
  flex-direction: row;
  color: azure;
  background-image: url("../images/bg-intro-desktop.png");
  height: 100vh;
  /* z-index: -4; */
}

@viewport {
  width: device-width;
  zoom: 1;
}
